/*
Primary: #2196F3
Dark Primary: #1976D2
Light Primary: #BBDEFB
Accent: #FFC107
Text: #FFFFFF
Secondary: #727272
Inverse: #212121
Divider: #B6B6B6

*/

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}

body {
  background-color: #2196F3;
}

h1 {
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 8px;
}

h2 {
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}

.sentence-input {
  font-weight: 700;
  text-align: center;
  background: none;
  width: 150px;
  border: none;
  outline: none;
  border-bottom: dashed 1px #BBDEFB;
  transition: .5s;
}

.sentence-input:focus {
  border-bottom: dashed 1px #1976D2;
}

.datepicker {
  /*width: 150px;*/
}

#airport {
  /*width: 50px;*/
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-g-centered {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}

.filter-column {
  padding: 8px;
}

.filter-menu {
  height: 98px;
  margin: auto;
  width: 100%;
  border: solid 1px #B6B6B6;
  border-radius: 4px;
  text-align: center;
  background-color: #EEEEEE;
}

.pure-menu-link {
  color: #727272;
}

.pure-menu-link.active, .pure-menu-link.active:hover {
  background-color: #DDD;
}

.center {
  text-align: center;
}

.filter-menu-sm {
  width: 75%;
}

@media screen and (max-width: 35.5em) {
  .filter-menu-sm {
    width: 100%;
  }
}

/* autoComplete styles */
.autocomplete-suggestions {
  text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

  /* core styles should not be changed */
  position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: visible; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; font-size: 1.02em; color: #333; border-bottom: solid 1px #DDD}
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }

#the-god-damn-table {
  display: inline-block
}

.table-input-label {
  text-align: right;
  padding-right: 8px;
}

.table-input {
  text-align: left;
}

#header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.pure-button-primary {
  background-color: #FFC107;
  margin-top: 8px;
  margin-bottom: 16px;

}

.width100 {
  width: 100%;
}
.width50 {
  width: 50%;
}

.gray {
  background-color: gray;
}
.black {
  background-color: black;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

#results {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  transition: .5s;
}

#results, #results .pure-g [class *= "pure-u"] {
  background-color: #EEE;
  color: #727272;
}

#results h2 {
  font-weight: 800;
  font-size: 2.5em;
  margin-bottom: 16px;
}

#results h2.small {
  font-weight: 300;
  font-size: 1em;
  line-height: 2.5em;
}

#results h3 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

#results h3.light {
  font-weight: 300;
}

#results h3.small {
  font-size: 1em;
  padding-top: 8px;
}

#results h4 {
  font-weight: 300;
  margin-bottom: 0;
}

#results a {
  color: #727272;
  text-decoration: none;
}

#results .accent a {
  color: #FFC107;
}

.left-border {
  border-right: solid 1px #B6B6B6;
}

.tooltip-theme {
  border-radius: 4px;
  background: #212121;
  color: #727272;
  font-size: 1em;
  line-height: 1em;
}

.tooltip-theme .tooltipster-content {
  text-align: center;
  font-size: 1em;
  line-height: 1em;
  padding: 8px;
}

.tooltipster-content h3{
  font-weight: 300;
  font-size: 1.5em;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 4px;
}

.tooltipster-content h4 {
  margin: 0;
}

@-webkit-keyframes goldPulse {
  from { background-color: #e6ae07; -webkit-box-shadow: 0 0 9px rgba(255,193,7,.5); }
  50% { background-color: #FFC107; -webkit-box-shadow: 0 0 18px #FFC107; }
  to { background-color: #e6ae07; -webkit-box-shadow: 0 0 9px rgba(255,193,7,.5); }
}

#filter-price :nth-child(4) .pure-menu-link.active {
  -webkit-animation-name: goldPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.accent {
  color: #FFC107;
}

.invis {
  opacity: 0;
}